name: release
on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  release-please:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    outputs:
      releases_created: ${{ steps.release-please.outputs.releases_created }}
      tag_name: ${{ steps.release-please.outputs.tag_name }}
    steps:
      - name: Generate App token
        id: app-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.TAKEHAYA_RELEASE_PLEASE_APP_APP_ID }}
          private-key: ${{ secrets.TAKEHAYA_RELEASE_PLEASE_APP_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
      - id: release-please
        uses: googleapis/release-please-action@v4
        with:
          token: ${{ steps.app-token.outputs.token }}
          config-file: release-please-config.json
          manifest-file: .release-please-manifest.json
  goreleaser:
    runs-on: ubuntu-latest
    needs: release-please
    if: needs.release-please.outputs.releases_created == 'true'
    permissions:
      contents: write
      packages: write
    steps:
      - name: Generate App token
        id: app-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.TAKEHAYA_RELEASE_PLEASE_APP_APP_ID }}
          private-key: ${{ secrets.TAKEHAYA_RELEASE_PLEASE_APP_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
      - uses: actions/checkout@v5
      - name: Unshallow
        run: git fetch --prune --unshallow
      - name: Configure git for private modules
        run: |
          for i in $(git config --global --get-regexp 'url.https://.+@github.com/.insteadof' | cut -d ' ' -f1 | sort -u); do git config --global --unset-all "$i"; done
          git config --global url."https://x-oauth-token:${{ steps.app-token.outputs.token }}@github.com/".insteadOf "https://github.com/" --add
          git config --global url."https://x-oauth-token:${{ steps.app-token.outputs.token }}@github.com/".insteadOf "git@github.com:" --add
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
      - name: Install build tools
        run: make install-build-tools
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          version: '~> v2'
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
